
:root {
    --primarycolor: rgb(51, 153, 184);
    --secondarycolor: #fcdafc;
    --lightcolor: #202020;
    --bgColor-1: #fffF;
    --bgColor-2: #e8f3f7;
    --badding: 8%;
}
.sub {
  background-color: var(--primarycolor);
  font-size: 25px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 33px;
    
  }

  #navbar.scrolled {
    background-color: #fff;
    top: 0;
    box-shadow: 3px 6px 26px;
  
  }
  

  #logo {
    
    color: rgb(127, 208, 255);
    float: left;
    padding: 20px; 
}
span {
    color: rgb(23, 47, 119);
    margin-top: 20px;
}


.bt{
  background-color: var(--primarycolor);
  color: var(--lightcolor);
  text-decoration: none;
  font-weight: bold;
  padding: 0.8rem 1.87rem;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: 0.4s;
  display: flex;
  width: fit-content;
  margin-right: 25px ;

}


.bt:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: var(--primarycolor);
  border: 2px solid var(--primarycolor);
}


  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    list-style-type: none;
    font-size: 18px;
    display: inline-block;
    margin: 0.8rem 1.5rem;
  }

  .nav-links a {
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
    position: relative;
  }
  .lin::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: var(--primarycolor);
    height: 2px;
    width: -webkit-fill-available;
    display: none;
}
.lin:hover::before{
  display: block;
}

  .nav-links a:hover {
    color: var(--primarycolor);

}
.burger {
    display: none;
    float: right;
    padding: 20px;
    cursor: pointer;
  }

  #bars {
    font-size: 30px;
    margin: 5px;
  }
  .subList{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: rgba(0,0,0,0.12);
    border-radius: 20px;
    flex-direction: column;
    margin: 7px -48px;
    padding-top: 25px;
    visibility: hidden;
    z-index: 2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#analysis:hover .subList{
 visibility: visible;
}

  /* CSS styles for responsive navigation */
  @media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        background-color: rgba(0, 0, 0,0.12);
        width: 100%;
        top: 80px;
        left: -100%;
        height: 375px;
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
        transition: left 0.5s ease-in;
        z-index: 99;  
        gap: 15px;
        padding-left: 46%;
        
}
.bt{
  margin: 0;
}

    .nav-links.show {
      left: 0;
    }
    .nav-links a {
      color: black;

    }
  }
  
  

  

  @media screen and (max-width: 768px) {
    .burger {
      display: block;
    }
  }


/*    footer         */

footer {
    background-color: rgb(79, 80, 82);
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    padding: 60px 10%;
    width: 100%;



}

.foot {
    list-style: none;
}

.footer-col {
    width: 25%;

}

.footer-col h4 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: rgb(75, 191, 226);
    text-transform: capitalize;
    letter-spacing: 2px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: rgb(224, 209, 188);
    height: 2px;
    width: 40px;

}

.p {
    margin-top: 40px;
    font-size: large;
    text-align: center;
    margin-left: 35%;
    color: white;
}

.links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: #8c8f91;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;

}

.links a:hover {
    color: rgb(32, 138, 180);
    background-color: white;
}


.footer ul li:not(:last-child) {
    margin-bottom: 8px;

}

.foot .footli a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    transition: 0.4s;

}

.fp {
  margin-top: 40px;
  font-size: large;
  text-align: center;
  margin-left: 35%;
  color: white;
}

@media (max-width: 740px) {
    .footer-col .fp {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before {
        all: unset;
    }
}

@media(max-width: 555px) {

    .footer-col  {
        width: 100%;

    }

}
